<ul class="mr-auto navbar-nav">
 <li><a href="/FitNesseFeatures" class="nav-link text-secondary">Features</a></li>
 <li><a href="/FitNesseDownload" class="nav-link text-secondary">Download</a></li>
 <li><a href="/PlugIns" class="nav-link text-secondary">Plug-ins</a></li>
 <li><a href="/FitNesse.UserGuide" class="nav-link text-secondary">User Guide</a></li>
</ul>
